*{
    padding:0px;
    margin:10px;
    box-sizing: border-box;
   

}
body{
    padding:0%;
    margin: 0%;
    font-family:Poppins,  Actor, Adamina;
}
.top{
    background-image: url("../assets/images/moving\ 1.png");
    height: 80vh;
    background-size: cover;
    border: 2px solid red;
    width: 100%;
   
}

nav ul{
   float:right;
   margin-right:20px;
   list-style: none;
   text-decoration: none;
}

nav ul li{
    display: inline-block;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 25px;
}
 #button{
    background-color: #FAFF00;
    color: black;
    padding:5%;
    text-align: center;
}
#button1{
    background-color:black ;
    color: #FAFF00;
    padding:5%;
    text-align: center;
}

 .aim{
     padding-top: 5%;
     padding-left:5%;
 }

    

 .aim >h1{
     color:#FAFF00;
     font-size: 60px;
     font-size: Poppins,  Actor, Adamina;
 }
 .aim >p{
     color:whitesmoke;
     padding-top: 2%;
     font-size: 40px;
     font-family:Poppins,  Actor, Adamina; 
 }
 .main{
    padding-top: 2%;
}
.main img{
    width: 500px;
    height: 500px;
}
  
.submain{
    float:right;
    padding-right: 40%;
    padding-top: 10%;
}
.submain >p{
    font-size: 20px;
    font-weight:100px;
    padding-bottom: 10%;
    
}
.submain  >button{
  background-color:black;
  border: none;
  color:#FAFF00;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 4px;
  border-top-right-radius: 15px;

}
.toplist{
    background-color:lightgray;
}
.toplist  >h1{
    padding-left: 10%;
    padding-top: 10%;
}
.toplisting{
    display: flex;
    padding-top: 10%;
    padding-left: 5%;
}
.toplisting >table{
    background-color: white;
    border: none;
    border-radius: 10%;
}
.toplisting1{
    display: flex;
    padding-left: 5%;
    padding-bottom: 2%;
}
.toplisting1 >table{
    background-color: white;
    border: none;
    border-radius: 10%;
}
.footer{
    background-color:#050505;
    list-style: none;   
}

.footer h3{
    color: white;
    padding-top:5%;
    padding-left: 10%;
    font-size: 40px;
}
.footer >h3 >#fend{
    color:#FAFF00;
}
.social{
    display:flex;
    color: white;
    padding-right: 20%;
   justify-content: right;  
    
}
.social >#column1{
    padding-left: 5%;
    padding-bottom: 10%;
}
.social >#column1  >ul >li{
    list-style: none;  
}
.social  >img{
    height:30px;
    width: 30px;
   
}
